<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>240430843694-78p4m5ali34ipqln90c1pu7hf5gvfrek.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.240430843694-78p4m5ali34ipqln90c1pu7hf5gvfrek</string>
	<key>API_KEY</key>
	<string>AIzaSyCuMUwKyGFNDopgcjv9SIDdNt0TAalVvCk</string>
	<key>GCM_SENDER_ID</key>
	<string>240430843694</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.first.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>flutter-application-d5015</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-application-d5015.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:240430843694:ios:3ec3a3f0b05c3ee8519cbf</string>
</dict>
</plist>